@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --color-bg: #0A0A0A;       
  --color-bg-card: #121212;  
  --color-bg-input: #1A1A1A; 
  --color-text: #E0E0E0;     
  --color-text-muted: #9E9E9E;
  --color-primary: #8B5CF6;  
  --color-success: #22C55E;  
}

/* Light Theme */
[data-theme="light"] {
  --color-bg: #f5f6f7;
  --color-bg-card: #ffffff;
  --color-bg-input: #eef0f3;
  --color-text: #1b1b1b;
  --color-text-muted: #525252;
  --color-primary: #5d5dff;
  --color-success: #16a34a;
}

/* Apply Theme */
body {
  background: var(--color-bg);
  color: var(--color-text);
}

/* Utility Classes */
.bg-card { background: var(--color-bg-card); }
.bg-input { background: var(--color-bg-input); }
.text-muted { color: var(--color-text-muted); }
.btn-success { background: var(--color-success); color: black; }
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  transition: 0.15s;
}

.btn-primary:hover {
  filter: brightness(0.7);
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}
.mask-fade-bottom {
  mask-image: linear-gradient(
    to bottom,
    black 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 95%,
    transparent 100%
  );
}

